h1,
h2 {
  text-align: center;
}
.Dictionary section {
  margin: 10px;
  padding: 20px;
  background-color: rgb(210, 210, 230);
  border: 2px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
}

input {
  font-size: 24px !important;
}
button {
  font-size: 20px !important;
}
.search {
  text-align: end;
}
